body {
  text-align: center;
}
input {
  margin: 0 auto;
}
div {
  margin: 0 1rem;
}
.separator {
  display: inline-block;
  width: 1rem;
}
.relative {
  position: relative;
}
#copy-feedback {
  position: absolute;
  margin: 0;
  bottom: 0.5rem;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  &.show {
    opacity: 1;
  }
}
#img-area {
  height: 5.5rem;
}
#img {
  display: block;
  margin: 2rem auto;
}
#output {
  width: 100%;
}
p > img {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
